/* ===== header & nav ===== */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
    padding-bottom: 1rem;

    h1 {
        font-size: 1rem;
        font-weight: 900;
        /* letter-spacing: -1px; */
        margin: 0;
        display: flex;
        align-items: center;

        img {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    nav {
        display: flex;
        gap: 0.5rem;
    }

    nav a {
        position: relative;
        color: var(--fg-muted);
        font-weight: 500;
        font-size: 0.875rem;
        padding: 0.2em 0.7em;
        border-radius: var(--radius);
        text-decoration: none;
        transition:
            background 0.2s cubic-bezier(0.4, 0, 0.2, 1),
            color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1),
            transform 0.1s cubic-bezier(0.4, 0, 0.2, 1);
        overflow: hidden;
        z-index: 1;

        &:hover::before,
        &:focus-visible::before {
            opacity: 1;
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: radial-gradient(
                circle at 50% 100%,
                #a259ff44 0%,
                transparent 80%
            );
            opacity: 0;
            transition: opacity 0.3s;
            z-index: 0;
            pointer-events: none;
        }

        &:hover::before,
        &:focus-visible::before {
            opacity: 1;
        }

        &:hover,
        &.active {
            background: var(--accent);
            color: #fff;
            box-shadow: 0 2px 16px 0 #a259ff33;
        }
    }
}
